.login {
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;

    height: 30rem;
    border: 1px solid #ccc;
}


.login>div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;

    flex-direction: column;

}

.form-input {

    margin-left: -20%;
    margin-top: 10%;
}

.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;

}

.reg {
    text-decoration: none;
    color: #3897f0;
}